body {
  font-family: Arial, sans-serif;
  background-color: #F5E6CA; /* màu kem sữa */
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #547A7A; /* xanh cổ điển */
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #8B5E3C; /* nâu đất */
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: #A67B5B; /* nâu vintage khi hover */
}

main {
  text-align: center;
  padding: 40px;
}

footer {
  background-color: #B3A395; /* xám khói */
  color: white;
  text-align: center;
  padding: 10px;
}


/*form-login*/
.form {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  position: absolute;
  backdrop-filter: blur(2px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 25%;
  height: 50%;
  border: 1px solid white;
  border-radius: 10px;
}

.login img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.img-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-element {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
}

.input-element .username {
  width: 76%;
  height: 30px;
  border-radius: 30px;
  padding: 0 18px;
  border:  1px solid white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  color: white;
  margin-bottom: 15px;
}

.input-element input:focus {
  outline: none;
}

.password-section {
  width: 86%;
  height: 30px;
  border-radius: 30px;
  border: 1px solid white;
  display: flex;
  padding: -1px 10px;
  position: relative;
}

.password-section input {
  position: absolute;
  width: 89%;
  height: 99%;
  border-radius: 116px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  border: none;
  color: white;
  padding: 0 18px;
}

.password-section input:focus {
  outline: none; 
}

.password-section i {
  color: white;
  position: absolute;
  right: 3%;
  top: 24%;
}

.password-section i:hover {
  color: azure;
  cursor: pointer;
}

.btn-login {
  width: 100%;
  height: 10%;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-login button {
    width: 85%;
    height: 100%;
    border-radius: 9px;
}

.btn-login button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.register {
  margin-top: 20px;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
.register a {
  color: white;
}